{{!-- Bienvenida --}}

<div class="tituloProductos">
    <h2>VENTA ILEGAL DE POKEMON S</h2>
</div>
<!-- CAROUSEL -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/car1.jpg" class="d-block w-75 mx-auto" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/char.jpeg" class="d-block w-75 mx-auto" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/bulbasaur.jpeg" class="d-block w-75 mx-auto" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/squartle.jpeg" class="d-block w-75 mx-auto" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/pikachiu.jpeg" class="d-block w-75 mx-auto" alt="...">
    </div>
  </div>
</div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



{{!-- mapa --}}


<div class="container">
    <h2>VIDP TIENE LO MEJOR PARA VOS!</h2>
    <h3>con una trayectoria mayor a 180 años, nos preocupamos en brindarte los mejores productos desde pokemons lastimados a pokebolas recauchutadas  (refurbished) a un precio INCREIBLE</h3>
</div>

